@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */

@keyframes toki-glow {
  0%,
  100% {
    box-shadow: 0 0 calc(1.5 * var(--toki-glow-strength)) calc(0.5 * var(--toki-glow-strength))
      var(--toki-glow-color);
  }
  50% {
    box-shadow: 0 0 calc(3 * var(--toki-glow-strength)) calc(1.5 * var(--toki-glow-strength))
      var(--toki-glow-color);
  }
}

/* Globals */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toki-glow-strength: 1vh;
  --toki-glow-color: rgba(128, 128, 128, 0.6);
}

html,
body,
#root {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Utility */

.persistent-glow {
  animation: toki-glow 2s ease-in-out infinite;
  transition:
    box-shadow 0.3s ease,
    filter 0.3s ease;
}

.shadow-text {
  text-shadow:
    0 0 2px #000,
    0 1px 2px #000,
    0 0 4px rgba(0, 0, 0, 0.8);
}

/* Components */

#timeline #line {
  height: 2vh;
  min-height: 1px;
}

#timeline .icon {
  height: 48%;

  span {
    font-size: 25vh;
  }
}
